@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="card">
    <div class="card-header">
        Portfolio Management
    </div>
    @if (User.IsInRole("Admin"))
    {
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a asp-area="" asp-controller="Portfolios" asp-action="Index">All Portfolios</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Assets" asp-action="Index">Assets</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="MarketPrices" asp-action="Index">Market Prices</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Comments" asp-action="OwnerComments">Comments</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Ratings" asp-action="Index">Ratings</a></li>
    </ul>
    }
    else
    {
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a asp-area="" asp-controller="Portfolios" asp-action="Index">My Portfolios</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Comments" asp-action="OwnerComments">My Comments</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Comments" asp-action="PortfolioComments">Portfolio Comments</a></li>
    </ul>
    }
    <div class="card-header">
        Account Settings
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a asp-page="./Index">Profile</a></li>
        <li class="list-group-item"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li class="list-group-item"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="list-group-item"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="list-group-item"><a asp-page="./PersonalData">Personal data</a></li>
    </ul>

</div>
