@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<nav id="cookieConsent" class="navbar navbar-expand-sm navbar-dark bg-primary" role="alert">
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100">
        <div class="mx-auto">
            <p class="navbar-text">Allow cookies to improve your experience on Cryptofolio.</p>
        </div><div class="mx-auto">
        <a asp-controller="Home" asp-action="Privacy" class="btn btn-info btn-sm">Learn More</a>
        <button type="button" class="btn btn-success btn-sm" data-cookie-string="@cookieString">Accept</button>
    </div>
    </div>
</nav>

    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}
