@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h3>Error</h3>
            </div>
            <div class="card-body">
                <h5>Something went wrong. Hopefully it wasn't Bitcoin crashing again.</h5>
            </div>
            <div class="card-body">
                <a asp-action="Portfolios" class="card-link">Goto portfolios</a>
            </div>
        </div>
    </div>
</div>