@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Cryptofolio";
}

@{
    var count = 133;
    var total = 29328.17;
    var daychange = -439.42;
}

<div class="text-center"><h1 class="title">Cryptofolio</h1></div>
<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-md-4">
                <p class="card-text">
                    Portfolios
                    <h1>@count</h1>
                </p>
            </div>
            <div class="col-md-4">
                <p class="card-text">
                    Total Value of All Portfolios
                    <h1>$@total</h1>
                </p>
            </div>
            <div class="col-md-4">
                <p class="card-text">
                    24 Hour Change
                    @if (daychange > 0)
                    {
                        <h1 class="text-success">
                            +@daychange
                        </h1>
                    }
                    else
                    {
                        <h1 class="text-danger">
                            @daychange
                        </h1>
                    }
</div>
        </div>
    </div>
    <div class="card-body text-center">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Graph goes here</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="card-body">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-success btn-front" asp-area="" asp-controller="Portfolios" asp-action="Portfolios">View Portfolios</a>
                </div>
            </div>
        }
        else
        {
            <div class="row text-center">
                <div class="col-md-6 text-right">
                    <a class="btn btn-success btn-front" asp-area="" asp-controller="Portfolios" asp-action="Portfolios">View Portfolios</a>
                </div>
                <div class="col-md-6 text-left">
                    <a class="btn btn-primary btn-front" asp-area="Identity" asp-page="/Account/Login">Login <i class="fa fa-github"></i></a><br />
                    <a class="btn btn-front" asp-area="Identity" asp-page="/Account/Register">Register <i class="fa fa-twitter"></i></a>
                </div>
            </div>
        }
    </div>


</div>