@model Cryptofolio.Models.Holding

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var assets = ViewData["assets"] as List<Asset>;
}
<h2>Create</h2>

<h4>Holding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetType" class="control-label"></label><br />
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    @foreach (var item in assets)
                    {
                        listItems.Add(new SelectListItem { Text = item.Name, Value = item.Code });
                    }
                }
                @Html.DropDownListFor(model => model.AssetType, listItems, "Select Asset", htmlAttributes: new { @class = "form-control", AssetType = "AssetType" })
                <div class="form-group">
                    <label asp-for="PurchasePrice" class="control-label"></label>
                    <input asp-for="PurchasePrice" class="form-control" />
                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                </div>
            
            </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
